<a href="https://colab.research.google.com/github/mikachou/cac40-dogs-draft/blob/main/CAC40_Dogs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Get stocks symbols

## CAC40 stocks on Monday, January 4, 2010

ACCOR, AIR LIQUIDE, Airbus Group (ex-EADS), ALCATEL, Alstom, ArcelorMittal, Axa, BNP, BOUYGUES, Cap Gémini, CARREFOUR, CREDIT AGRICOLE, DANONE, Dexia (Ex-Dexia  Belgium), EDF, ENGIE (ex-GDF Suez), EssilorLuxottica, Kering (ex: Pinault-Printemps-Redoute), L'Oréal, LafargeHolcim, Lagardère, LVMH MOET HENESSY, Michelin B, Orange (ex: France Télécom), Pernod Ricard, Peugeot S.A., Renault, SAINT-GOBAIN, Sanofi, Schneider (Ex-Spie Batignolles), Société Générale, STMicroelectronics (Ex-SGS Thomson Microelectronics), Suez, Technip, Total, Unibail-Rodamco, Vallourec, Veolia Environnement, Vinci, Vivendi

## CAC40 stocks on Monday, January 3, 2011

ACCOR, AIR LIQUIDE, Airbus Group (ex-EADS), ALCATEL, Alstom, ArcelorMittal, Axa, BNP, BOUYGUES, Cap Gémini, CARREFOUR, CREDIT AGRICOLE, DANONE, EDF, ENGIE (ex-GDF Suez), EssilorLuxottica, Kering (ex: Pinault-Printemps-Redoute), L'Oréal, LafargeHolcim, LVMH MOET HENESSY, Michelin B, Natixis, Orange (ex: France Télécom), Pernod Ricard, Peugeot S.A., Publicis Groupe SA, Renault, SAINT-GOBAIN, Sanofi, Schneider (Ex-Spie Batignolles), Société Générale, STMicroelectronics (Ex-SGS Thomson Microelectronics), Suez, Technip, Total, Unibail-Rodamco, Vallourec, Veolia Environnement, Vinci, Vivendi

## Symbols:

CAC40: ^FCHI, Accor: AC.PA, Air Liquide: AI.PA, Airbus: AIR.PA, Alcatel: ALU.PA, Alstom: ALO.PA, ArcelorMittal: MT.PA, Axa: CS.PA, BNP: BNP.PA, Bouygues: EN.PA, Cap Gémini: CAP.PA, Carrefour: CA.PA, Crédit agricole: ACA.PA, Danone: BN.PA, Dexia: DX.PA, EDF: EDF.PA, Engie: ENGI.PA, EssilorLuxottica: EL.PA, Kering: KER.PA, L'Oréal: OR.PA, LafargeHolcim: HOLN.PA, Lagardère: MMB.PA, LVMH: MC.PA, Michelin: ML.PA, Natixis: CNAT.PA, Orange: ORA.PA, Pernod-Ricard: RI.PA, Peugeot: PEUG.PA, Publicis: PUB.PA, Renault: RNO.PA, Saint-Gobain: SGO.PA, Sanofi: SAN.PA, Schneider: SU.PA, Société Générale: GLE.PA, STMicroelectronics: STMPA.PA, Suez: SEV.PA, Technip: TE.PA, Total: TTE.PA, Unibail-Rodamco: URW.PA, Vallourec: VK.PA, Veolia: VIE.PA, Vinci: DG.PA, Vivendi: VIV.PA

# try yfinance features

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np

In [ ]:
# get tickers from cac40 2011 stocks, which where already presents in 2010
tickers_str = 'ac.pa ai.pa air.pa alu.pa alo.pa mt.pa cs.pa bnp.pa en.pa '\
            + 'cap.pa ca.pa aca.pa bn.pa dx.pa edf.pa engi.pa el.pa ker.pa '\
            + 'or.pa holn.pa mc.pa ml.pa ora.pa ri.pa peug.pa rno.pa sgo.pa '\
            + 'su.pa gle.pa stmpa.pa sev.pa te.pa tte.pa urw.pa vk.pa vie.pa '\
            + 'dg.pa viv.pa'

# how many stocks?
print(len(tickers_str.split()))

38

In [ ]:
# load tickers
tickers = yf.Tickers(tickers_str)

# how many stocks?
print(len(tickers.tickers))

38

In [ ]:
tickers.tickers['AC.PA'].info

{'address1': '82, rue Henri Farman',
 'address2': 'CS 20077',
 'city': 'Issy-les-Moulineaux',
 'zip': '92130',
 'country': 'France',
 'phone': '33 1 45 38 88 00',
 'fax': '33 1 69 36 79 00',
 'website': 'https://www.group.accor.com/en',
 'industry': 'Lodging',
 'industryDisp': 'Lodging',
 'sector': 'Consumer Cyclical',
 'longBusinessSummary': 'Accor SA operates a chain of hotels worldwide. It operates through three segments: Management & Franchise; Services to Owners and Hotel Assets; and Others. The company owns, operates, manages, and franchises hotels. It also provides digital services to independent hotel operators through D-edge platform; Gekko solutions for leisure and travel industry and large companies; and concierge and customized services through John Paul, as well as hotel booking services; and other services in events, fine dining, and entertainment through Paris Society and Potel & Chabot platforms. In addition, the company offers distribution activities, such as private sales of hotel accommodation and luxury vacations through VeryChic platform; rental of private residences operated by onefinestay; and coworking spaces through Wojo and Mama Works. Further, it provides hotel management, procurement, cash management, IT, and advertising services, as well as various advisory services. Accor SA was founded in 1967 and is headquartered in Issy-les-Moulineaux, France.',
 'fullTimeEmployees': 17334,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Sebastien Marie Christophe Bazin',
   'age': 61,
   'title': 'Chairman, CEO, CEO of Luxury & Lifestyle Division and Member of Management Board',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 2566478,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jean-Jacques  Morin',
   'age': 62,
   'title': 'Deputy CEO, CEO of Premium, Midscale & Economy Division, CFO and Member of Management Board',
   'yearBorn': 1960,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Steven  Daines',
   'title': 'Chief Talent & Culture Officer and Member of Management Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Caroline  Tissot',
   'age': 50,
   'title': 'Chief Group Procurement Officer & Member of Management Board',
   'yearBorn': 1972,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Besma  Boumaza',
   'age': 45,
   'title': 'Group Gen. Counsel, Board Sec. & Member of Management Board',
   'yearBorn': 1977,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Floor  Bleeker',
   'title': 'CTO & Member of Management Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Brune  Poirson',
   'age': 39,
   'title': 'Chief Sustainability Officer & Member of Management Board',
   'yearBorn': 1983,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alix  Boulnois',
   'title': 'Chief Digital Officer & Member of Management Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kamal  Rhazali',
   'title': 'Sec. Gen., Gen. Counsel of the Luxury & Lifestyle Div. and Member Management Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pierre-Loup  Etienne',
   'title': 'Sr. VP of Investor Relations & Financial Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 7,
 'compensationRisk': 7,
 'shareHolderRightsRisk': 8,
 'overallRisk': 8,
 'governanceEpochDate': 1682899200,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 31.1,
 'open': 31.22,
 'dayLow': 30.9,
 'dayHigh': 31.37,
 'regularMarketPreviousClose': 31.1,
 'regularMarketOpen': 31.22,
 'regularMarketDayLow': 30.9,
 'regularMarketDayHigh': 31.37,
 'dividendRate': 0.71,
 'dividendYield': 0.0228,
 'exDividendDate': 1684800000,
 'payoutRatio': 0.0,
 'beta': 1.30058,
 'trailingPE': 25.233871,
 'forwardPE': 17.383335,
 'volume': 455266,
 'regularMarketVolume': 455266,
 'averageVolume': 804820,
 'averageVolume10days': 618164,
 'averageDailyVolume10Day': 618164,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 8280241152,
 'fiftyTwoWeekLow': 20.47,
 'fiftyTwoWeekHigh': 32.97,
 'priceToSalesTrailing12Months': 1.9602844,
 'fiftyDayAverage': 30.8172,
 'twoHundredDayAverage': 26.9999,
 'trailingAnnualDividendRate': 0.71,
 'trailingAnnualDividendYield': 0.022829581,
 'currency': 'EUR',
 'enterpriseValue': 10171429888,
 'profitMargins': 0.09517,
 'floatShares': 134295661,
 'sharesOutstanding': 263032000,
 'heldPercentInsiders': 0.26803,
 'heldPercentInstitutions': 0.41512,
 'impliedSharesOutstanding': 0,
 'bookValue': 19.592,
 'priceToBook': 1.5970806,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1672444800,
 'netIncomeToCommon': 324000000,
 'trailingEps': 1.24,
 'forwardEps': 1.8,
 'pegRatio': 0.89,
 'enterpriseToRevenue': 2.408,
 'enterpriseToEbitda': 17.066,
 '52WeekChange': 0.0035278797,
 'SandP52WeekChange': 0.017738938,
 'lastDividendValue': 0.34,
 'lastDividendDate': 1684800000,
 'exchange': 'PAR',
 'quoteType': 'EQUITY',
 'symbol': 'AC.PA',
 'underlyingSymbol': 'AC.PA',
 'shortName': 'ACCOR',
 'longName': 'Accor SA',
 'firstTradeDateEpochUtc': 946886400,
 'timeZoneFullName': 'Europe/Paris',
 'timeZoneShortName': 'CEST',
 'uuid': 'bef0cc4d-35d0-3a24-a677-98edf59c884a',
 'messageBoardId': 'finmb_648902',
 'gmtOffSetMilliseconds': 7200000,
 'currentPrice': 31.29,
 'targetHighPrice': 41.0,
 'targetLowPrice': 23.0,
 'targetMeanPrice': 35.3,
 'targetMedianPrice': 37.0,
 'recommendationMean': 2.2,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 17,
 'totalCash': 1643000064,
 'totalCashPerShare': 6.363,
 'ebitda': 596000000,
 'totalDebt': 3337999872,
 'quickRatio': 0.959,
 'currentRatio': 1.227,
 'totalRevenue': 4224000000,
 'debtToEquity': 61.18,
 'revenuePerShare': 16.09,
 'returnOnAssets': 0.02485,
 'returnOnEquity': 0.07639,
 'grossProfits': 725000000,
 'freeCashflow': 261124992,
 'operatingCashflow': 511000000,
 'grossMargins': 0.17164,
 'ebitdaMargins': 0.14109999,
 'operatingMargins': 0.10582,
 'financialCurrency': 'EUR',
 'trailingPegRatio': 1.3563}

In [ ]:
tickers.tickers['AC.PA'].dividends

Date
2000-06-14 00:00:00+02:00     0.900
2001-06-14 00:00:00+02:00     1.000
2002-06-03 00:00:00+02:00     1.050
2003-06-02 00:00:00+02:00     1.050
2004-01-22 00:00:00+01:00    15.000
2004-05-17 00:00:00+02:00     1.050
2005-05-17 00:00:00+02:00     1.300
2006-05-17 00:00:00+02:00     1.150
2007-05-16 00:00:00+02:00     1.500
2007-06-25 00:00:00+02:00     3.600
2008-05-15 00:00:00+02:00     3.150
2008-05-20 00:00:00+02:00     3.150
2008-06-23 00:00:00+02:00     3.700
2009-05-20 00:00:00+02:00     1.650
2010-07-02 00:00:00+02:00     1.050
2011-06-01 00:00:00+02:00     0.620
2012-06-11 00:00:00+02:00     0.500
2013-05-03 00:00:00+02:00     0.760
2014-05-09 00:00:00+02:00     0.400
2015-05-06 00:00:00+02:00     0.475
2016-04-27 00:00:00+02:00     0.500
2017-05-12 00:00:00+02:00     1.050
2018-05-11 00:00:00+02:00     1.050
2019-05-10 00:00:00+02:00     1.050
2023-05-23 00:00:00+02:00     0.340
Name: Dividends, dtype: float64

In [ ]:
tickers.tickers['AC.PA'].actions

                           Dividends  Stock Splits
Date
2000-06-14 00:00:00+02:00      0.900           0.0
2001-06-14 00:00:00+02:00      1.000           0.0
2002-06-03 00:00:00+02:00      1.050           0.0
2003-06-02 00:00:00+02:00      1.050           0.0
2004-01-22 00:00:00+01:00     15.000           0.0
2004-05-17 00:00:00+02:00      1.050           0.0
2005-05-17 00:00:00+02:00      1.300           0.0
2006-05-17 00:00:00+02:00      1.150           0.0
2007-05-16 00:00:00+02:00      1.500           0.0
2007-06-25 00:00:00+02:00      3.600           0.0
2008-05-15 00:00:00+02:00      3.150           0.0
2008-05-20 00:00:00+02:00      3.150           0.0
2008-06-23 00:00:00+02:00      3.700           0.0
2009-05-20 00:00:00+02:00      1.650           0.0
2010-07-02 00:00:00+02:00      1.050           0.0
2011-06-01 00:00:00+02:00      0.620           0.0
2012-06-11 00:00:00+02:00      0.500           0.0
2013-05-03 00:00:00+02:00      0.760           0.0
2014-05-09 00:00:00+02:00      0.400           0.0
2015-05-06 00:00:00+02:00      0.475           0.0
2016-04-27 00:00:00+02:00      0.500           0.0
2017-05-12 00:00:00+02:00      1.050           0.0
2018-05-11 00:00:00+02:00      1.050           0.0
2019-05-10 00:00:00+02:00      1.050           0.0
2023-05-23 00:00:00+02:00      0.340           0.0

In [ ]:
tickers.tickers['OR.PA'].dividends

Date
2000-06-15 00:00:00+02:00    0.34
2001-06-08 00:00:00+02:00    0.44
2002-06-04 00:00:00+02:00    0.54
2003-05-27 00:00:00+02:00    0.64
2004-05-14 00:00:00+02:00    0.73
2005-05-11 00:00:00+02:00    0.82
2006-05-10 00:00:00+02:00    1.00
2007-05-03 00:00:00+02:00    1.18
2008-04-25 00:00:00+02:00    1.38
2009-04-21 00:00:00+02:00    1.44
2010-04-30 00:00:00+02:00    1.50
2011-04-29 00:00:00+02:00    1.80
2012-04-27 00:00:00+02:00    2.00
2013-05-07 00:00:00+02:00    2.30
2014-04-29 00:00:00+02:00    2.50
2015-05-05 00:00:00+02:00    2.70
2016-04-29 00:00:00+02:00    3.10
2017-04-28 00:00:00+02:00    3.30
2018-04-25 00:00:00+02:00    3.55
2019-04-26 00:00:00+02:00    3.85
2020-04-28 00:00:00+02:00    4.25
2020-07-03 00:00:00+02:00    3.85
2021-04-27 00:00:00+02:00    4.00
2022-04-27 00:00:00+02:00    4.80
2023-04-26 00:00:00+02:00    6.00
2023-04-27 00:00:00+02:00    6.00
Name: Dividends, dtype: float64

In [ ]:
tickers.tickers['ORA.PA'].actions

                           Dividends  Stock Splits
Date
2000-06-22 00:00:00+02:00       1.00           0.0
2001-06-14 00:00:00+02:00       1.00           0.0
2002-06-04 00:00:00+02:00       1.00           0.0
2004-05-07 00:00:00+02:00       0.25           0.0
2005-06-03 00:00:00+02:00       0.48           0.0
2006-05-10 00:00:00+02:00       1.00           0.0
2007-06-07 00:00:00+02:00       1.20           0.0
2008-05-29 00:00:00+02:00       1.30           0.0
2008-09-08 00:00:00+02:00       0.60           0.0
2009-06-02 00:00:00+02:00       0.80           0.0
2009-08-28 00:00:00+02:00       0.60           0.0
2010-06-14 00:00:00+02:00       0.80           0.0
2010-08-30 00:00:00+02:00       0.60           0.0
2011-06-10 00:00:00+02:00       0.80           0.0
2011-09-05 00:00:00+02:00       0.60           0.0
2012-06-08 00:00:00+02:00       0.80           0.0
2012-09-07 00:00:00+02:00       0.58           0.0
2013-06-06 00:00:00+02:00       0.20           0.0
2013-12-06 00:00:00+01:00       0.30           0.0
2014-06-02 00:00:00+02:00       0.50           0.0
2014-12-05 00:00:00+01:00       0.20           0.0
2015-06-08 00:00:00+02:00       0.40           0.0
2015-12-07 00:00:00+01:00       0.20           0.0
2016-06-21 00:00:00+02:00       0.40           0.0
2016-12-05 00:00:00+01:00       0.20           0.0
2017-06-12 00:00:00+02:00       0.40           0.0
2017-12-05 00:00:00+01:00       0.25           0.0
2018-06-05 00:00:00+02:00       0.40           0.0
2018-12-04 00:00:00+01:00       0.30           0.0
2019-06-04 00:00:00+02:00       0.40           0.0
2019-12-02 00:00:00+01:00       0.30           0.0
2020-06-02 00:00:00+02:00       0.20           0.0
2020-12-07 00:00:00+01:00       0.40           0.0
2021-06-15 00:00:00+02:00       0.20           0.0
2021-12-13 00:00:00+01:00       0.30           0.0
2022-06-07 00:00:00+02:00       0.40           0.0
2022-12-05 00:00:00+01:00       0.30           0.0

In [ ]:
tickers.tickers['ORA.PA'].history(start="2010-01-04", end="2010-12-31")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00+01:00,7.639053,7.680100,7.587204,7.673619,6426321,0.0,0.0
2010-01-05 00:00:00+01:00,7.667139,7.682261,7.621770,7.656336,5699622,0.0,0.0
2010-01-06 00:00:00+01:00,7.677941,7.682262,7.617450,7.632574,11488328,0.0,0.0
2010-01-07 00:00:00+01:00,7.630412,7.636893,7.489988,7.537516,16110580,0.0,0.0
2010-01-08 00:00:00+01:00,7.559122,7.574244,7.431660,7.487829,9363069,0.0,0.0
...,...,...,...,...,...,...,...
2010-12-23 00:00:00+01:00,7.569771,7.602826,7.550881,7.569771,3108383,0.0,0.0
2010-12-27 00:00:00+01:00,7.555604,7.579215,7.439909,7.475326,4114568,0.0,0.0
2010-12-28 00:00:00+01:00,7.475325,7.555604,7.449353,7.449353,3005550,0.0,0.0
2010-12-29 00:00:00+01:00,7.468243,7.527271,7.456437,7.510743,3682483,0.0,0.0
2010-12-30 00:00:00+01:00,7.524911,7.524911,7.395049,7.413938,3937603,0.0,0.0

In [ ]:
yf.download('ORA.PA', start="2010-12-30", end="2010-12-31")

[*********************100%***********************]  1 of 1 completed

              Open    High    Low  Close  Adj Close   Volume
Date
2010-12-30  15.935  15.935  15.66   15.7   7.413937  3937603

In [ ]:
tickers.tickers['ORA.PA'].history(start="2010-01-04", end="2010-12-31").iloc[-1]['Close']

7.413937568664551

In [ ]:
tickers.tickers['ORA.PA'].dividends

Date
2010-06-14 00:00:00+02:00    0.8
2010-08-30 00:00:00+02:00    0.6
Name: Dividends, dtype: float64

In [ ]:
tickers.tickers['ORA.PA'].dividends.sum()

1.4

In [ ]:
tickers.tickers['ORA.PA'].dividends.sum() / tickers.tickers['ORA.PA'].history(start="2010-01-04", end="2010-12-31").iloc[-1]['Close']

0.18883352969104883

In [ ]:
tickers.tickers['VIV.PA'].history(start="2010-01-04", end="2010-12-31").iloc[-1]['Close']

10.766348838806152

In [ ]:
tickers.tickers['TTE.PA'].history(start="2010-01-04", end="2010-12-31").iloc[-1]['Close']

19.306791305541992

In [ ]:
ora_pa_price = yf.download('ORA.PA', start="2010-12-24", end="2010-12-31").iloc[-1]['Close']

[*********************100%***********************]  1 of 1 completed

In [ ]:
ora_pa_price

15.699999809265137

In [ ]:
yf.download('ora.pa', start="2010-12-30", end="2010-12-31")

[*********************100%***********************]  1 of 1 completed

              Open    High    Low  Close  Adj Close   Volume
Date
2010-12-30  15.935  15.935  15.66   15.7   7.413936  3937603

In [ ]:
# doesn't work with lower cased keys
# tickers.tickers['ora.pa'].dividends

# functions

In [ ]:
def get_stock_price_end(id, year):
    prices = yf.download(id, start="{}-12-24".format(year), end="{}-12-31".format(year), progress=False)
    return prices.iloc[-1]['Close'] if len(prices) > 0 else 0

In [ ]:
def get_dividends_history(id, year):
    ticker = yf.Ticker(id)
    ticker.history(start="{}-01-01".format(year), end="{}-12-31".format(year))
    return ticker.dividends

In [ ]:
def get_dividends(id, year):
    return get_dividends_history(id, year).sum()

In [ ]:
get_stock_price_end('ORA.PA', 2022)

9.281000137329102

In [ ]:
get_dividends_history('ORA.PA', 2022)

Date
2022-06-07 00:00:00+02:00    0.4
2022-12-05 00:00:00+01:00    0.3
Name: Dividends, dtype: float64

In [ ]:
get_dividends('ORA.PA', 2022)

0.7

In [ ]:
keys = tickers_str.upper().split()
keys

['AC.PA',
 'AI.PA',
 'AIR.PA',
 'ALU.PA',
 'ALO.PA',
 'MT.PA',
 'CS.PA',
 'BNP.PA',
 'EN.PA',
 'CAP.PA',
 'CA.PA',
 'ACA.PA',
 'BN.PA',
 'DX.PA',
 'EDF.PA',
 'ENGI.PA',
 'EL.PA',
 'KER.PA',
 'OR.PA',
 'HOLN.PA',
 'MC.PA',
 'ML.PA',
 'ORA.PA',
 'RI.PA',
 'PEUG.PA',
 'RNO.PA',
 'SGO.PA',
 'SU.PA',
 'GLE.PA',
 'STMPA.PA',
 'SEV.PA',
 'TE.PA',
 'TTE.PA',
 'URW.PA',
 'VK.PA',
 'VIE.PA',
 'DG.PA',
 'VIV.PA']

# EDA

In [ ]:
for key in keys:
    print("key:", key)
    print(get_dividends_history(key, 2010))

key: AC.PA
Date
2010-07-02 00:00:00+02:00    1.05
Name: Dividends, dtype: float64
key: AI.PA
Date
2010-05-12 00:00:00+02:00    1.27086
Name: Dividends, dtype: float64
key: AIR.PA
Series([], Name: Dividends, dtype: float64)
key: ALU.PA
ALU.PA: No data found for this date range, symbol may be delisted
ALU.PA: 1d data not available for startTime=-2208994789 and endTime=1685291653. Only 100 years worth of day granularity data are allowed to be fetched per request.
[]
key: ALO.PA
Date
2010-06-24 00:00:00+02:00    1.149796
Name: Dividends, dtype: float64
key: MT.PA
Date
2010-02-19 00:00:00-05:00    0.270235
2010-05-21 00:00:00-04:00    0.270235
2010-08-20 00:00:00-04:00    0.270235
2010-11-19 00:00:00-05:00    0.270235
Name: Dividends, dtype: float64
key: CS.PA
Date
2010-05-03 00:00:00+02:00    0.55
Name: Dividends, dtype: float64
key: BNP.PA
Date
2010-05-19 00:00:00+02:00    1.5
Name: Dividends, dtype: float64
key: EN.PA
Date
2010-05-04 00:00:00+02:00    1.6
Name: Dividends, dtype: float64
key: CAP.PA
Date
2010-05-31 00:00:00+02:00    0.8
Name: Dividends, dtype: float64
key: CA.PA
Date
2010-05-07 00:00:00+02:00    1.08
Name: Dividends, dtype: float64
key: ACA.PA
Date
2010-05-27 00:00:00+02:00    0.433333
Name: Dividends, dtype: float64
key: BN.PA
Date
2010-05-04 00:00:00+02:00    1.2
Name: Dividends, dtype: float64
key: DX.PA
Got error from yahoo api for ticker DX.PA, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- DX.PA: No timezone found, symbol may be delisted
Got error from yahoo api for ticker DX.PA, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- DX.PA: No timezone found, symbol may be delisted
[]
key: EDF.PA
Date
2010-05-31 00:00:00+02:00    0.531926
2010-12-14 00:00:00+01:00    0.505330
Name: Dividends, dtype: float64
key: ENGI.PA
Date
2010-05-05 00:00:00+02:00    0.67
2010-11-10 00:00:00+01:00    0.83
Name: Dividends, dtype: float64
key: EL.PA
Date
2010-05-25 00:00:00+02:00    0.7
Name: Dividends, dtype: float64
key: KER.PA
Date
2010-05-21 00:00:00+02:00    3.3
Name: Dividends, dtype: float64
key: OR.PA
Date
2010-04-30 00:00:00+02:00    1.5
Name: Dividends, dtype: float64
key: HOLN.PA
Got error from yahoo api for ticker HOLN.PA, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- HOLN.PA: No timezone found, symbol may be delisted
Got error from yahoo api for ticker HOLN.PA, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- HOLN.PA: No timezone found, symbol may be delisted
[]
key: MC.PA
Date
2010-05-20 00:00:00+02:00    1.3
2010-11-29 00:00:00+01:00    0.7
Name: Dividends, dtype: float64
key: ML.PA
Date
2010-05-14 00:00:00+02:00    0.24156
Name: Dividends, dtype: float64
key: ORA.PA
Date
2010-06-14 00:00:00+02:00    0.8
2010-08-30 00:00:00+02:00    0.6
Name: Dividends, dtype: float64
key: RI.PA
Date
2010-07-02 00:00:00+02:00    0.61
2010-11-12 00:00:00+01:00    0.73
Name: Dividends, dtype: float64
key: PEUG.PA
Date
2010-06-16 00:00:00+02:00    0.7
Name: Dividends, dtype: float64
key: RNO.PA
Series([], Name: Dividends, dtype: float64)
key: SGO.PA
Date
2010-06-09 00:00:00+02:00    1.0
Name: Dividends, dtype: float64
key: SU.PA
Date
2010-05-04 00:00:00+02:00    1.025
Name: Dividends, dtype: float64
key: GLE.PA
Date
2010-06-01 00:00:00+02:00    0.25
Name: Dividends, dtype: float64
key: STMPA.PA
Date
2010-02-22 00:00:00+01:00    0.03
2010-05-31 00:00:00+02:00    0.07
2010-08-23 00:00:00+02:00    0.07
2010-11-29 00:00:00+01:00    0.07
Name: Dividends, dtype: float64
key: SEV.PA
Got error from yahoo api for ticker SEV.PA, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- SEV.PA: No timezone found, symbol may be delisted
Got error from yahoo api for ticker SEV.PA, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- SEV.PA: No timezone found, symbol may be delisted
[]
key: TE.PA
TE.PA: Data doesn't exist for startDate = 1262300400, endDate = 1293750000
Date
2022-05-18 00:00:00+02:00    0.45
2023-05-22 00:00:00+02:00    0.52
Name: Dividends, dtype: float64
key: TTE.PA
Date
2010-05-27 00:00:00+02:00    1.14
2010-11-12 00:00:00+01:00    1.14
Name: Dividends, dtype: float64
key: URW.PA
URW.PA: Data doesn't exist for startDate = 1262300400, endDate = 1293750000
Series([], Name: Dividends, dtype: float64)
key: VK.PA
Date
2010-06-07 00:00:00+02:00    14.531037
Name: Dividends, dtype: float64
key: VIE.PA
Date
2010-05-14 00:00:00+02:00    1.166647
Name: Dividends, dtype: float64
key: DG.PA
Date
2010-05-14 00:00:00+02:00    1.10
2010-12-13 00:00:00+01:00    0.52
Name: Dividends, dtype: float64
key: VIV.PA
Date
2010-05-06 00:00:00+02:00    1.354839
Name: Dividends, dtype: float64

check some values :

In [ ]:
vk = yf.Ticker('vk.pa')
vk.dividends

Date
2000-07-05 00:00:00+02:00     0.624805
2001-07-04 00:00:00+02:00     1.065604
2002-07-03 00:00:00+02:00     1.721361
2003-07-02 00:00:00+02:00     1.721361
2004-07-07 00:00:00+02:00     1.967269
2005-07-06 00:00:00+02:00     2.657104
2005-10-12 00:00:00+02:00     3.321380
2006-07-05 00:00:00+02:00     5.978484
2006-08-16 00:00:00+02:00     1.100207
2006-10-20 00:00:00+02:00     8.303450
2007-07-04 00:00:00+02:00    16.606900
2007-08-15 00:00:00+02:00     1.328552
2008-06-13 00:00:00+02:00    29.062075
2008-06-26 00:00:00+02:00     4.982070
2009-06-11 00:00:00+02:00    24.910349
2010-06-07 00:00:00+02:00    14.531037
2011-06-16 00:00:00+02:00    10.794485
2012-06-05 00:00:00+02:00    10.794485
2013-06-06 00:00:00+02:00     5.729380
2014-06-04 00:00:00+02:00     6.725794
2015-06-04 00:00:00+02:00     6.725794
Name: Dividends, dtype: float64

In [ ]:
vk.actions

                           Dividends  Stock Splits
Date
2000-07-05 00:00:00+02:00   0.624805         0.000
2001-07-04 00:00:00+02:00   1.065604         0.000
2002-07-03 00:00:00+02:00   1.721361         0.000
2003-07-02 00:00:00+02:00   1.721361         0.000
2004-07-07 00:00:00+02:00   1.967269         0.000
2005-07-06 00:00:00+02:00   2.657104         0.000
2005-10-12 00:00:00+02:00   3.321380         0.000
2006-07-05 00:00:00+02:00   5.978484         0.000
2006-07-18 00:00:00+02:00   0.000000         5.000
2006-08-16 00:00:00+02:00   1.100207         0.000
2006-10-20 00:00:00+02:00   8.303450         0.000
2007-07-04 00:00:00+02:00  16.606900         0.000
2007-08-15 00:00:00+02:00   1.328552         0.000
2008-06-13 00:00:00+02:00  29.062075         0.000
2008-06-26 00:00:00+02:00   4.982070         0.000
2009-06-11 00:00:00+02:00  24.910349         0.000
2010-06-07 00:00:00+02:00  14.531037         0.000
2010-07-09 00:00:00+02:00   0.000000         2.000
2011-06-16 00:00:00+02:00  10.794485         0.000
2012-06-05 00:00:00+02:00  10.794485         0.000
2013-06-06 00:00:00+02:00   5.729380         0.000
2014-06-04 00:00:00+02:00   6.725794         0.000
2015-06-04 00:00:00+02:00   6.725794         0.000
2020-05-25 00:00:00+02:00   0.000000         0.025

A lot of data are hard to find or looks unrealistics.
We're trying backtest on 2022 regarding on 2021 performance.

# Get stocks symbols

## CAC40 stocks on Monday, January 4, 2021

AIR LIQUIDE, Airbus Group (ex-EADS), Alstom, ArcelorMittal, Atos, Axa, BNP, BOUYGUES, Cap Gémini, CARREFOUR, CREDIT AGRICOLE, DANONE, Dassault Systèmes, ENGIE (ex-GDF Suez), EssilorLuxottica, Hermes International, Kering (ex: Pinault-Printemps-Redoute), L'Oréal, Legrand, LVMH MOET HENESSY, Michelin B, Orange (ex: France Télécom), Pernod Ricard, Peugeot S.A., Publicis Groupe SA, Renault, Safran, SAINT-GOBAIN, Sanofi, Schneider (Ex-Spie Batignolles), Société Générale, STMicroelectronics (Ex-SGS Thomson Microelectronics), Teleperformance, Thales (ex-Thomson CSF), Total, Unibail-Rodamco, Veolia Environnement, Vinci, Vivendi, Worldline

## CAC40 stocks on Monday, January 3, 2022

AIR LIQUIDE, Airbus Group (ex-EADS), Alstom, ArcelorMittal, Axa, BNP, BOUYGUES, Cap Gémini, CARREFOUR, CREDIT AGRICOLE, DANONE, Dassault Systèmes, ENGIE (ex-GDF Suez), EssilorLuxottica, Eurofins Scientific, Hermes International, Kering (ex: Pinault-Printemps-Redoute), L'Oréal, Legrand, LVMH MOET HENESSY, Michelin B, Orange (ex: France Télécom), Pernod Ricard, Publicis Groupe SA, Renault, Safran, SAINT-GOBAIN, Sanofi, Schneider (Ex-Spie Batignolles), Société Générale, Stellantis, STMicroelectronics (Ex-SGS Thomson Microelectronics), Teleperformance, Thales (ex-Thomson CSF), Total, Unibail-Rodamco, Veolia Environnement, Vinci, Vivendi, Worldline

## Symbols:

CAC40: ^FCHI, Air Liquide: AI.PA, Airbus: AIR.PA, Alstom: ALO.PA, ArcelorMittal: MT.PA, Atos: ATO.PA, Axa: CS.PA, BNP: BNP.PA, Bouygues: EN.PA, Cap Gémini: CAP.PA, Carrefour: CA.PA, Crédit agricole: ACA.PA, Danone: BN.PA, Dassault: DSY.PA, Engie: ENGI.PA, EssilorLuxottica: EL.PA, Eurofins Scientifics: ERF.PA, Hermes: RMS.PA, Kering: KER.PA, L'Oréal: OR.PA, Legrand: LR.PA, LVMH: MC.PA, Michelin: ML.PA, Orange: ORA.PA, Pernod-Ricard: RI.PA, Peugeot: PEUG.PA, Publicis: PUB.PA, Renault: RNO.PA, Safran: SAF.PA, Saint-Gobain: SGO.PA, Sanofi: SAN.PA, Schneider: SU.PA, Société Générale: GLE.PA, Stellantis: STLAP.PA, STMicroelectronics: STMPA.PA, Teleperformance: TEP.PA, Thales: HO.PA, Total: TTE.PA, Unibail-Rodamco: URW.PA, Veolia: VIE.PA, Vinci: DG.PA, Vivendi: VIV.PA, Worldline: WLN.PA

# try on 2021-2022 data

In [ ]:
# get tickers from cac40 2022 stocks, which where already presents in 2021
tickers_str = 'ai.pa air.pa alo.pa mt.pa cs.pa bnp.pa en.pa cap.pa ca.pa '\
            + 'aca.pa bn.pa dsy.pa engi.pa el.pa rms.pa ker.pa or.pa lr.pa '\
            + 'mc.pa ml.pa ora.pa ri.pa pub.pa rno.pa saf.pa sgo.pa san.pa '\
            + 'su.pa gle.pa stmpa.pa tep.pa ho.pa tte.pa urw.pa vie.pa dg.pa '\
            + 'viv.pa wln.pa'
# how many stocks?
print(len(tickers_str.split()))

38

In [ ]:
def get_actions(id, year):
    ticker = yf.Ticker(id)
    ticker.history(start="{}-01-01".format(year), end="{}-12-31".format(year))
    return ticker.actions

In [ ]:
keys = tickers_str.upper().split()
keys

['AI.PA',
 'AIR.PA',
 'ALO.PA',
 'MT.PA',
 'CS.PA',
 'BNP.PA',
 'EN.PA',
 'CAP.PA',
 'CA.PA',
 'ACA.PA',
 'BN.PA',
 'DSY.PA',
 'ENGI.PA',
 'EL.PA',
 'RMS.PA',
 'KER.PA',
 'OR.PA',
 'LR.PA',
 'MC.PA',
 'ML.PA',
 'ORA.PA',
 'RI.PA',
 'PUB.PA',
 'RNO.PA',
 'SAF.PA',
 'SGO.PA',
 'SAN.PA',
 'SU.PA',
 'GLE.PA',
 'STMPA.PA',
 'TEP.PA',
 'HO.PA',
 'TTE.PA',
 'URW.PA',
 'VIE.PA',
 'DG.PA',
 'VIV.PA',
 'WLN.PA']

In [ ]:
for key in keys:
    print("key:", key)
    print(get_actions(key, 2021))
    print('-------------------------------------------------------------------')

key: AI.PA
                           Dividends  Stock Splits
Date
2021-05-17 00:00:00+02:00        2.5           0.0
-------------------------------------------------------------------
key: AIR.PA
Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []
-------------------------------------------------------------------
key: ALO.PA
                           Dividends  Stock Splits
Date
2021-08-02 00:00:00+02:00       0.25           0.0
-------------------------------------------------------------------
key: MT.PA
MT.PA: No data found for this date range, symbol may be delisted
                           Dividends  Stock Splits  Capital Gains
Date
2003-05-22 00:00:00-04:00   0.547677      0.000000            0.0
2004-05-24 00:00:00-04:00   0.576502      0.000000            0.0
2005-05-02 00:00:00-04:00   0.936816      0.000000            0.0
2006-05-26 00:00:00-04:00   2.666323      0.000000            0.0
2007-02-28 00:00:00-05:00   0.468408      0.000000            0.0
2007-05-31 00:00:00-04:00   0.468408      0.000000            0.0
2007-08-31 00:00:00-04:00   0.468408      0.000000            0.0
2007-11-30 00:00:00-05:00   0.468408      0.000000            0.0
2008-03-03 00:00:00-05:00   0.540471      0.000000            0.0
2008-06-02 00:00:00-04:00   0.540471      0.000000            0.0
2008-09-02 00:00:00-04:00   0.540471      0.000000            0.0
2008-12-02 00:00:00-05:00   0.540471      0.000000            0.0
2009-02-20 00:00:00-05:00   0.270235      0.000000            0.0
2009-05-22 00:00:00-04:00   0.270235      0.000000            0.0
2009-08-21 00:00:00-04:00   0.270235      0.000000            0.0
2009-11-20 00:00:00-05:00   0.270235      0.000000            0.0
2010-02-19 00:00:00-05:00   0.270235      0.000000            0.0
2010-05-21 00:00:00-04:00   0.270235      0.000000            0.0
2010-08-20 00:00:00-04:00   0.270235      0.000000            0.0
2010-11-19 00:00:00-05:00   0.270235      0.000000            0.0
2011-02-18 00:00:00-05:00   0.199326      0.000000            0.0
2011-05-20 00:00:00-04:00   0.189440      0.000000            0.0
2011-08-19 00:00:00-04:00   0.229700      0.000000            0.0
2011-11-18 00:00:00-05:00   0.200471      0.000000            0.0
2012-02-17 00:00:00-05:00   0.208162      0.000000            0.0
2012-05-23 00:00:00-04:00   0.211651      0.000000            0.0
2012-08-20 00:00:00-04:00   0.270235      0.000000            0.0
2012-11-19 00:00:00-05:00   0.270235      0.000000            0.0
2013-05-10 00:00:00-04:00   0.288251      0.000000            0.0
2014-05-12 00:00:00-04:00   0.288251      0.000000            0.0
2015-05-08 00:00:00-04:00   0.288251      0.000000            0.0
2017-05-18 00:00:00-04:00   0.000000      0.333333            0.0
2018-05-17 00:00:00-04:00   0.084153      0.000000            0.0
2019-05-16 00:00:00-04:00   0.200000      0.000000            0.0
2021-06-07 00:00:00-04:00   0.300000      0.000000            0.0
2021-06-10 00:00:00-04:00   0.245881      0.000000            0.0
2022-05-13 00:00:00-04:00   0.380000      0.000000            0.0
-------------------------------------------------------------------
key: CS.PA
                           Dividends  Stock Splits
Date
2021-05-07 00:00:00+02:00       1.43           0.0
-------------------------------------------------------------------
key: BNP.PA
                           Dividends  Stock Splits
Date
2021-05-24 00:00:00+02:00       1.11           0.0
2021-09-28 00:00:00+02:00       1.55           0.0
-------------------------------------------------------------------
key: EN.PA
                           Dividends  Stock Splits
Date
2021-05-04 00:00:00+02:00        1.7           0.0
-------------------------------------------------------------------
key: CAP.PA
                           Dividends  Stock Splits
Date
2021-06-02 00:00:00+02:00       1.95           0.0
-------------------------------------------------------------------
key: CA.PA
                           Dividends  Stock Splits
Date
2021-05-26 00:00:00+02:00       0.48           0.0
-------------------------------------------------------------------
key: ACA.PA
                           Dividends  Stock Splits
Date
2021-05-18 00:00:00+02:00        0.8           0.0
-------------------------------------------------------------------
key: BN.PA
                           Dividends  Stock Splits
Date
2021-05-10 00:00:00+02:00       1.94           0.0
-------------------------------------------------------------------
key: DSY.PA
                           Dividends  Stock Splits
Date
2021-05-28 00:00:00+02:00      0.112           0.0
2021-07-07 00:00:00+02:00      0.000           5.0
-------------------------------------------------------------------
key: ENGI.PA
                           Dividends  Stock Splits
Date
2021-05-24 00:00:00+02:00       0.53           0.0
-------------------------------------------------------------------
key: EL.PA
                           Dividends  Stock Splits
Date
2021-05-28 00:00:00+02:00       1.08           0.0
-------------------------------------------------------------------
key: RMS.PA
                           Dividends  Stock Splits
Date
2021-03-02 00:00:00+01:00       1.50           0.0
2021-05-06 00:00:00+02:00       3.05           0.0
-------------------------------------------------------------------
key: KER.PA
                           Dividends  Stock Splits
Date
2021-01-19 00:00:00+01:00        2.5           0.0
2021-05-04 00:00:00+02:00        5.5           0.0
-------------------------------------------------------------------
key: OR.PA
                           Dividends  Stock Splits
Date
2021-04-27 00:00:00+02:00        4.0           0.0
-------------------------------------------------------------------
key: LR.PA
                           Dividends  Stock Splits
Date
2021-05-28 00:00:00+02:00       1.42           0.0
-------------------------------------------------------------------
key: MC.PA
                           Dividends  Stock Splits
Date
2021-04-20 00:00:00+02:00        4.0           0.0
2021-11-30 00:00:00+01:00        3.0           0.0
-------------------------------------------------------------------
key: ML.PA
                           Dividends  Stock Splits
Date
2021-05-25 00:00:00+02:00      0.575           0.0
-------------------------------------------------------------------
key: ORA.PA
                           Dividends  Stock Splits
Date
2021-06-15 00:00:00+02:00        0.2           0.0
2021-12-13 00:00:00+01:00        0.3           0.0
-------------------------------------------------------------------
key: RI.PA
                           Dividends  Stock Splits
Date
2021-07-07 00:00:00+02:00       1.33           0.0
2021-11-22 00:00:00+01:00       1.79           0.0
-------------------------------------------------------------------
key: PUB.PA
                           Dividends  Stock Splits
Date
2021-06-15 00:00:00+02:00        2.0           0.0
-------------------------------------------------------------------
key: RNO.PA
Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []
-------------------------------------------------------------------
key: SAF.PA
                           Dividends  Stock Splits
Date
2021-05-31 00:00:00+02:00       0.43           0.0
-------------------------------------------------------------------
key: SGO.PA
                           Dividends  Stock Splits
Date
2021-06-07 00:00:00+02:00       1.33           0.0
-------------------------------------------------------------------
key: SAN.PA
                           Dividends  Stock Splits
Date
2021-05-05 00:00:00+02:00        3.2           0.0
-------------------------------------------------------------------
key: SU.PA
                           Dividends  Stock Splits
Date
2021-05-10 00:00:00+02:00        2.6           0.0
-------------------------------------------------------------------
key: GLE.PA
                           Dividends  Stock Splits
Date
2021-05-25 00:00:00+02:00       0.55           0.0
-------------------------------------------------------------------
key: STMPA.PA
                           Dividends  Stock Splits
Date
2021-03-22 00:00:00+01:00      0.042           0.0
2021-06-21 00:00:00+02:00      0.060           0.0
2021-09-20 00:00:00+02:00      0.060           0.0
2021-12-13 00:00:00+01:00      0.060           0.0
-------------------------------------------------------------------
key: TEP.PA
                           Dividends  Stock Splits
Date
2021-04-27 00:00:00+02:00        2.4           0.0
-------------------------------------------------------------------
key: HO.PA
                           Dividends  Stock Splits
Date
2021-05-18 00:00:00+02:00       1.36           0.0
2021-12-07 00:00:00+01:00       0.60           0.0
-------------------------------------------------------------------
key: TTE.PA
                           Dividends  Stock Splits
Date
2021-01-04 00:00:00+01:00       0.66           0.0
2021-03-25 00:00:00+01:00       0.66           0.0
2021-06-24 00:00:00+02:00       0.66           0.0
2021-09-21 00:00:00+02:00       0.66           0.0
-------------------------------------------------------------------
key: URW.PA
URW.PA: Data doesn't exist for startDate = 1609455600, endDate = 1640905200
Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []
-------------------------------------------------------------------
key: VIE.PA
                           Dividends  Stock Splits
Date
2021-05-10 00:00:00+02:00    0.67492           0.0
-------------------------------------------------------------------
key: DG.PA
                           Dividends  Stock Splits
Date
2021-04-20 00:00:00+02:00       2.04           0.0
2021-11-16 00:00:00+01:00       0.65           0.0
-------------------------------------------------------------------
key: VIV.PA
                           Dividends  Stock Splits
Date
2021-06-23 00:00:00+02:00        0.6           0.0
-------------------------------------------------------------------
key: WLN.PA
Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []
-------------------------------------------------------------------

In [ ]:
def get_dividends_ss(id, year):
    actions = get_actions(id, year)
    total_dividends = 0
    for idx, action in actions.iterrows():
        if action['Dividends'] > 0:
            total_dividends += action['Dividends']
        elif action['Stock Splits'] > 0:
            total_dividends /= action['Stock Splits']

    return total_dividends

In [ ]:
for key in keys:
    print("key:", key)
    print(get_dividends_ss(key, 2021))
    print('-------------------------------------------------------------------')

key: AI.PA
2.5
-------------------------------------------------------------------
key: AIR.PA
0
-------------------------------------------------------------------
key: ALO.PA
0.25
-------------------------------------------------------------------
key: MT.PA
MT.PA: No data found for this date range, symbol may be delisted
41.91609499999999
-------------------------------------------------------------------
key: CS.PA
1.43
-------------------------------------------------------------------
key: BNP.PA
2.66
-------------------------------------------------------------------
key: EN.PA
1.7
-------------------------------------------------------------------
key: CAP.PA
1.95
-------------------------------------------------------------------
key: CA.PA
0.48
-------------------------------------------------------------------
key: ACA.PA
0.8
-------------------------------------------------------------------
key: BN.PA
1.94
-------------------------------------------------------------------
key: DSY.PA
0.0224
-------------------------------------------------------------------
key: ENGI.PA
0.53
-------------------------------------------------------------------
key: EL.PA
1.08
-------------------------------------------------------------------
key: RMS.PA
4.55
-------------------------------------------------------------------
key: KER.PA
8.0
-------------------------------------------------------------------
key: OR.PA
4.0
-------------------------------------------------------------------
key: LR.PA
1.42
-------------------------------------------------------------------
key: MC.PA
7.0
-------------------------------------------------------------------
key: ML.PA
0.575
-------------------------------------------------------------------
key: ORA.PA
0.5
-------------------------------------------------------------------
key: RI.PA
3.12
-------------------------------------------------------------------
key: PUB.PA
2.0
-------------------------------------------------------------------
key: RNO.PA
0
-------------------------------------------------------------------
key: SAF.PA
0.43
-------------------------------------------------------------------
key: SGO.PA
1.33
-------------------------------------------------------------------
key: SAN.PA
3.2
-------------------------------------------------------------------
key: SU.PA
2.6
-------------------------------------------------------------------
key: GLE.PA
0.55
-------------------------------------------------------------------
key: STMPA.PA
0.222
-------------------------------------------------------------------
key: TEP.PA
2.4
-------------------------------------------------------------------
key: HO.PA
1.96
-------------------------------------------------------------------
key: TTE.PA
2.64
-------------------------------------------------------------------
key: URW.PA
URW.PA: Data doesn't exist for startDate = 1609455600, endDate = 1640905200
0
-------------------------------------------------------------------
key: VIE.PA
0.67492
-------------------------------------------------------------------
key: DG.PA
2.69
-------------------------------------------------------------------
key: VIV.PA
0.6
-------------------------------------------------------------------
key: WLN.PA
0
-------------------------------------------------------------------

In [ ]:
def get_stock_price_early(id, year):
    prices = yf.download(id, start="{}-01-01".format(year), end="{}-01-10".format(year), progress=False)
    return prices.iloc[0]['Open'] if len(prices) > 0 else 0

In [ ]:
get_stock_price_early('STLAP.PA', 2023)

13.378000259399414

In [ ]:
data = []
for key in keys:
    data.append([key, get_stock_price_end(key, 2021), get_dividends_ss(key, 2021), get_stock_price_early(key, 2022), get_stock_price_end(key, 2022), get_dividends_ss(key, 2022)])

df = pd.DataFrame(data, columns=['key', 'price_end_2021', 'dividends_2021', 'price_early_2022', 'price_end_2022', 'dividends_2022'])

1 Failed download:
- MT.PA: No data found for this date range, symbol may be delisted
MT.PA: No data found for this date range, symbol may be delisted

1 Failed download:
- MT.PA: No data found for this date range, symbol may be delisted

1 Failed download:
- MT.PA: No data found for this date range, symbol may be delisted
MT.PA: No data found for this date range, symbol may be delisted

1 Failed download:
- URW.PA: Data doesn't exist for startDate = 1640300400, endDate = 1640905200
URW.PA: Data doesn't exist for startDate = 1609455600, endDate = 1640905200

1 Failed download:
- URW.PA: Data doesn't exist for startDate = 1640991600, endDate = 1641769200

1 Failed download:
- URW.PA: Data doesn't exist for startDate = 1671836400, endDate = 1672441200
URW.PA: Data doesn't exist for startDate = 1640991600, endDate = 1672441200

In [ ]:
df

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022
0,AI.PA,139.709091,2.500000,140.181824,132.399994,2.396695
1,AIR.PA,112.680000,0.000000,113.599998,111.019997,1.500000
2,ALO.PA,31.170000,0.250000,31.450001,22.820000,0.250000
3,MT.PA,0.000000,41.916095,0.000000,0.000000,41.916095
4,CS.PA,26.285000,1.430000,26.389999,26.055000,1.540000
5,BNP.PA,60.669998,2.660000,61.110001,53.250000,3.670000
6,EN.PA,31.330000,1.700000,31.400000,28.040001,1.800000
7,CAP.PA,215.699997,1.950000,215.699997,155.949997,2.400000
8,CA.PA,16.014999,0.480000,16.160000,15.640000,0.520000
9,ACA.PA,12.604000,0.800000,12.620000,9.831000,1.050000
10,BN.PA,54.919998,1.940000,54.919998,49.230000,1.940000
11,DSY.PA,52.700001,0.022400,52.000000,33.494999,0.170000
12,ENGI.PA,13.072000,0.530000,13.066000,13.388000,1.700000
13,EL.PA,187.639999,1.080000,188.240005,169.199997,2.510000
14,RMS.PA,1537.500000,4.550000,1552.000000,1445.000000,8.000000
15,KER.PA,707.799988,8.000000,709.000000,475.500000,12.000000
16,OR.PA,419.799988,4.000000,425.250000,333.600006,4.800000
17,LR.PA,102.800003,1.420000,102.949997,74.820000,3.300000
18,MC.PA,730.000000,7.000000,734.000000,679.900024,12.000000
19,ML.PA,36.174999,0.575000,36.375000,25.985001,0.281250
20,ORA.PA,9.426000,0.500000,9.432000,9.281000,0.700000
21,RI.PA,212.000000,3.120000,214.699997,183.750000,4.120000
22,PUB.PA,59.939999,2.000000,59.240002,59.419998,4.800000
23,RNO.PA,30.100000,0.000000,30.275000,31.275000,0.000000
24,SAF.PA,107.080002,0.430000,108.339996,116.919998,0.500000
25,SGO.PA,61.930000,1.330000,61.799999,45.650002,1.630000
26,SAN.PA,89.129997,3.200000,88.660004,89.839996,3.330000
27,SU.PA,172.839996,2.600000,174.220001,130.720001,2.900000
28,GLE.PA,30.240000,0.550000,30.275000,23.480000,1.650000
29,STMPA.PA,43.740002,0.222000,43.520000,32.994999,0.240000
30,TEP.PA,395.399994,2.400000,395.700012,222.699997,3.300000
31,HO.PA,75.300003,1.960000,74.959999,119.300003,2.660000
32,TTE.PA,44.900002,2.640000,44.380001,58.650002,3.670000
33,URW.PA,0.000000,0.000000,0.000000,0.000000,0.000000
34,VIE.PA,32.080002,0.674920,32.279999,24.000000,1.000000
35,DG.PA,91.980003,2.690000,92.779999,93.290001,3.250000
36,VIV.PA,11.950000,0.600000,11.910000,8.914000,0.250000
37,WLN.PA,48.840000,0.000000,49.169998,36.529999,0.000000

In [ ]:
# fix outlier MT.PA:
df.loc[df['key'] == 'MT.PA', 'dividends_2021'] = .55

In [ ]:
df

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022
0,AI.PA,139.709091,2.50000,140.181824,132.399994,2.396695
1,AIR.PA,112.680000,0.00000,113.599998,111.019997,1.500000
2,ALO.PA,31.170000,0.25000,31.450001,22.820000,0.250000
3,MT.PA,0.000000,0.55000,0.000000,0.000000,41.916095
4,CS.PA,26.285000,1.43000,26.389999,26.055000,1.540000
5,BNP.PA,60.669998,2.66000,61.110001,53.250000,3.670000
6,EN.PA,31.330000,1.70000,31.400000,28.040001,1.800000
7,CAP.PA,215.699997,1.95000,215.699997,155.949997,2.400000
8,CA.PA,16.014999,0.48000,16.160000,15.640000,0.520000
9,ACA.PA,12.604000,0.80000,12.620000,9.831000,1.050000
10,BN.PA,54.919998,1.94000,54.919998,49.230000,1.940000
11,DSY.PA,52.700001,0.02240,52.000000,33.494999,0.170000
12,ENGI.PA,13.072000,0.53000,13.066000,13.388000,1.700000
13,EL.PA,187.639999,1.08000,188.240005,169.199997,2.510000
14,RMS.PA,1537.500000,4.55000,1552.000000,1445.000000,8.000000
15,KER.PA,707.799988,8.00000,709.000000,475.500000,12.000000
16,OR.PA,419.799988,4.00000,425.250000,333.600006,4.800000
17,LR.PA,102.800003,1.42000,102.949997,74.820000,3.300000
18,MC.PA,730.000000,7.00000,734.000000,679.900024,12.000000
19,ML.PA,36.174999,0.57500,36.375000,25.985001,0.281250
20,ORA.PA,9.426000,0.50000,9.432000,9.281000,0.700000
21,RI.PA,212.000000,3.12000,214.699997,183.750000,4.120000
22,PUB.PA,59.939999,2.00000,59.240002,59.419998,4.800000
23,RNO.PA,30.100000,0.00000,30.275000,31.275000,0.000000
24,SAF.PA,107.080002,0.43000,108.339996,116.919998,0.500000
25,SGO.PA,61.930000,1.33000,61.799999,45.650002,1.630000
26,SAN.PA,89.129997,3.20000,88.660004,89.839996,3.330000
27,SU.PA,172.839996,2.60000,174.220001,130.720001,2.900000
28,GLE.PA,30.240000,0.55000,30.275000,23.480000,1.650000
29,STMPA.PA,43.740002,0.22200,43.520000,32.994999,0.240000
30,TEP.PA,395.399994,2.40000,395.700012,222.699997,3.300000
31,HO.PA,75.300003,1.96000,74.959999,119.300003,2.660000
32,TTE.PA,44.900002,2.64000,44.380001,58.650002,3.670000
33,URW.PA,0.000000,0.00000,0.000000,0.000000,0.000000
34,VIE.PA,32.080002,0.67492,32.279999,24.000000,1.000000
35,DG.PA,91.980003,2.69000,92.779999,93.290001,3.250000
36,VIV.PA,11.950000,0.60000,11.910000,8.914000,0.250000
37,WLN.PA,48.840000,0.00000,49.169998,36.529999,0.000000

MT.PA and URW.PA appears to be some kinda outlier.
We put them off the dataframe, though they deserve better treatment.

In [ ]:
df = df[df['key'] != 'MT.PA']
df = df[df['key'] != 'URW.PA']
df = df.reset_index(drop=True)

In [ ]:
df

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022
0,AI.PA,139.709091,2.50000,140.181824,132.399994,2.396695
1,AIR.PA,112.680000,0.00000,113.599998,111.019997,1.500000
2,ALO.PA,31.170000,0.25000,31.450001,22.820000,0.250000
3,CS.PA,26.285000,1.43000,26.389999,26.055000,1.540000
4,BNP.PA,60.669998,2.66000,61.110001,53.250000,3.670000
5,EN.PA,31.330000,1.70000,31.400000,28.040001,1.800000
6,CAP.PA,215.699997,1.95000,215.699997,155.949997,2.400000
7,CA.PA,16.014999,0.48000,16.160000,15.640000,0.520000
8,ACA.PA,12.604000,0.80000,12.620000,9.831000,1.050000
9,BN.PA,54.919998,1.94000,54.919998,49.230000,1.940000
10,DSY.PA,52.700001,0.02240,52.000000,33.494999,0.170000
11,ENGI.PA,13.072000,0.53000,13.066000,13.388000,1.700000
12,EL.PA,187.639999,1.08000,188.240005,169.199997,2.510000
13,RMS.PA,1537.500000,4.55000,1552.000000,1445.000000,8.000000
14,KER.PA,707.799988,8.00000,709.000000,475.500000,12.000000
15,OR.PA,419.799988,4.00000,425.250000,333.600006,4.800000
16,LR.PA,102.800003,1.42000,102.949997,74.820000,3.300000
17,MC.PA,730.000000,7.00000,734.000000,679.900024,12.000000
18,ML.PA,36.174999,0.57500,36.375000,25.985001,0.281250
19,ORA.PA,9.426000,0.50000,9.432000,9.281000,0.700000
20,RI.PA,212.000000,3.12000,214.699997,183.750000,4.120000
21,PUB.PA,59.939999,2.00000,59.240002,59.419998,4.800000
22,RNO.PA,30.100000,0.00000,30.275000,31.275000,0.000000
23,SAF.PA,107.080002,0.43000,108.339996,116.919998,0.500000
24,SGO.PA,61.930000,1.33000,61.799999,45.650002,1.630000
25,SAN.PA,89.129997,3.20000,88.660004,89.839996,3.330000
26,SU.PA,172.839996,2.60000,174.220001,130.720001,2.900000
27,GLE.PA,30.240000,0.55000,30.275000,23.480000,1.650000
28,STMPA.PA,43.740002,0.22200,43.520000,32.994999,0.240000
29,TEP.PA,395.399994,2.40000,395.700012,222.699997,3.300000
30,HO.PA,75.300003,1.96000,74.959999,119.300003,2.660000
31,TTE.PA,44.900002,2.64000,44.380001,58.650002,3.670000
32,VIE.PA,32.080002,0.67492,32.279999,24.000000,1.000000
33,DG.PA,91.980003,2.69000,92.779999,93.290001,3.250000
34,VIV.PA,11.950000,0.60000,11.910000,8.914000,0.250000
35,WLN.PA,48.840000,0.00000,49.169998,36.529999,0.000000

In [ ]:
df['yield_2021'] = df['dividends_2021'] / df['price_end_2021']
df['performance_2022'] = (df['dividends_2022'] + df['price_end_2022'] - df['price_early_2022']) / df['price_early_2022']
df

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022,yield_2021,performance_2022
0,AI.PA,139.709091,2.50000,140.181824,132.399994,2.396695,0.017894,-3.841536e-02
1,AIR.PA,112.680000,0.00000,113.599998,111.019997,1.500000,0.000000,-9.507058e-03
2,ALO.PA,31.170000,0.25000,31.450001,22.820000,0.250000,0.008021,-2.664547e-01
3,CS.PA,26.285000,1.43000,26.389999,26.055000,1.540000,0.054404,4.566127e-02
4,BNP.PA,60.669998,2.66000,61.110001,53.250000,3.670000,0.043844,-6.856489e-02
5,EN.PA,31.330000,1.70000,31.400000,28.040001,1.800000,0.054261,-4.968149e-02
6,CAP.PA,215.699997,1.95000,215.699997,155.949997,2.400000,0.009040,-2.658785e-01
7,CA.PA,16.014999,0.48000,16.160000,15.640000,0.520000,0.029972,3.068754e-08
8,ACA.PA,12.604000,0.80000,12.620000,9.831000,1.050000,0.063472,-1.377971e-01
9,BN.PA,54.919998,1.94000,54.919998,49.230000,1.940000,0.035324,-6.828111e-02
10,DSY.PA,52.700001,0.02240,52.000000,33.494999,0.170000,0.000425,-3.525962e-01
11,ENGI.PA,13.072000,0.53000,13.066000,13.388000,1.700000,0.040545,1.547528e-01
12,EL.PA,187.639999,1.08000,188.240005,169.199997,2.510000,0.005756,-8.781347e-02
13,RMS.PA,1537.500000,4.55000,1552.000000,1445.000000,8.000000,0.002959,-6.378866e-02
14,KER.PA,707.799988,8.00000,709.000000,475.500000,12.000000,0.011303,-3.124118e-01
15,OR.PA,419.799988,4.00000,425.250000,333.600006,4.800000,0.009528,-2.042328e-01
16,LR.PA,102.800003,1.42000,102.949997,74.820000,3.300000,0.013813,-2.411850e-01
17,MC.PA,730.000000,7.00000,734.000000,679.900024,12.000000,0.009589,-5.735691e-02
18,ML.PA,36.174999,0.57500,36.375000,25.985001,0.281250,0.015895,-2.779038e-01
19,ORA.PA,9.426000,0.50000,9.432000,9.281000,0.700000,0.053045,5.820610e-02
20,RI.PA,212.000000,3.12000,214.699997,183.750000,4.120000,0.014717,-1.249651e-01
21,PUB.PA,59.939999,2.00000,59.240002,59.419998,4.800000,0.033367,8.406476e-02
22,RNO.PA,30.100000,0.00000,30.275000,31.275000,0.000000,0.000000,3.303055e-02
23,SAF.PA,107.080002,0.43000,108.339996,116.919998,0.500000,0.004016,8.381025e-02
24,SGO.PA,61.930000,1.33000,61.799999,45.650002,1.630000,0.021476,-2.349514e-01
25,SAN.PA,89.129997,3.20000,88.660004,89.839996,3.330000,0.035903,5.086840e-02
26,SU.PA,172.839996,2.60000,174.220001,130.720001,2.900000,0.015043,-2.330387e-01
27,GLE.PA,30.240000,0.55000,30.275000,23.480000,1.650000,0.018188,-1.699422e-01
28,STMPA.PA,43.740002,0.22200,43.520000,32.994999,0.240000,0.005075,-2.363282e-01
29,TEP.PA,395.399994,2.40000,395.700012,222.699997,3.300000,0.006070,-4.288603e-01
30,HO.PA,75.300003,1.96000,74.959999,119.300003,2.660000,0.026029,6.270011e-01
31,TTE.PA,44.900002,2.64000,44.380001,58.650002,3.670000,0.058797,4.042361e-01
32,VIE.PA,32.080002,0.67492,32.279999,24.000000,1.000000,0.021039,-2.255266e-01
33,DG.PA,91.980003,2.69000,92.779999,93.290001,3.250000,0.029245,4.052600e-02
34,VIV.PA,11.950000,0.60000,11.910000,8.914000,0.250000,0.050209,-2.305626e-01
35,WLN.PA,48.840000,0.00000,49.169998,36.529999,0.000000,0.000000,-2.570673e-01

## Dogs10

In [ ]:
dogs10 = df.sort_values(by='yield_2021', ascending=False, ignore_index=True)[:10]
dogs10

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022,yield_2021,performance_2022
0,ACA.PA,12.604000,0.80,12.620000,9.831000,1.05,0.063472,-0.137797
1,TTE.PA,44.900002,2.64,44.380001,58.650002,3.67,0.058797,0.404236
2,CS.PA,26.285000,1.43,26.389999,26.055000,1.54,0.054404,0.045661
3,EN.PA,31.330000,1.70,31.400000,28.040001,1.80,0.054261,-0.049681
4,ORA.PA,9.426000,0.50,9.432000,9.281000,0.70,0.053045,0.058206
5,VIV.PA,11.950000,0.60,11.910000,8.914000,0.25,0.050209,-0.230563
6,BNP.PA,60.669998,2.66,61.110001,53.250000,3.67,0.043844,-0.068565
7,ENGI.PA,13.072000,0.53,13.066000,13.388000,1.70,0.040545,0.154753
8,SAN.PA,89.129997,3.20,88.660004,89.839996,3.33,0.035903,0.050868
9,BN.PA,54.919998,1.94,54.919998,49.230000,1.94,0.035324,-0.068281

In [ ]:
def df_performance_2022(df):
    return (df['dividends_2022'].sum() + df['price_end_2022'].sum() - df['price_early_2022'].sum()) / df['price_early_2022'].sum()

In [ ]:
dogs10_performance_2022 = df_performance_2022(dogs10)
dogs10_performance_2022

0.034590027651995245

## Dogs5

In [ ]:
dogs5 = dogs10.sort_values(by='price_end_2021', ascending=True, ignore_index=True)[:5]
dogs5

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022,yield_2021,performance_2022
0,ORA.PA,9.426,0.50,9.432000,9.281,0.70,0.053045,0.058206
1,VIV.PA,11.950,0.60,11.910000,8.914,0.25,0.050209,-0.230563
2,ACA.PA,12.604,0.80,12.620000,9.831,1.05,0.063472,-0.137797
3,ENGI.PA,13.072,0.53,13.066000,13.388,1.70,0.040545,0.154753
4,CS.PA,26.285,1.43,26.389999,26.055,1.54,0.054404,0.045661

In [ ]:
dogs5_performance_2022 = df_performance_2022(dogs5)
dogs5_performance_2022

-0.00965702432619041

## PPP

In [ ]:
ppp = dogs5.sort_values(by='price_end_2021', ascending=True, ignore_index=True)[1:2]
ppp

,key,price_end_2021,dividends_2021,price_early_2022,price_end_2022,dividends_2022,yield_2021,performance_2022
1,VIV.PA,11.95,0.6,11.91,8.914,0.25,0.050209,-0.230563

## Compare to df

In [ ]:
df_perf_2022 = df_performance_2022(df)
df_perf_2022

-0.13255723836125377